<div class="container">
    <h3 class="header">Mongo Scraper</h3>
    <div class="articles">
        <ul>
            {{#each articles}}
            <li>
                <p><img src="{{this.img}}" alt=""></p>
                <p><span>Title:</span> {{this.title}}</p>
                <p><a href="{{this.link}}" target="_blank">Read the article</a></p>
                <button class="add-note btn" data-id="{{this.id}}">Article Notes</button>
                <button class="delete-saved btn" data-id="{{this.id}}">Delete from Saved</button>
            </li>
            {{/each}}
        </ul>
    </div>
</div>